.theorem {
display: block;
font-style: italic;
padding-top: 1em;
padding-bottom: 1em;
}
.theorem:before {
content: "Theorem. ";
font-weight: bold;
font-style: normal;
}
.theorem[text]:before {
content: "Theorem (" attr(text) ") ";
}



.definition {
display: block;
font-style: italic;
padding-top: 1em;
padding-bottom: 1em;
}
.definition:before {
content: "Definition. ";
font-weight: bold;
font-style: normal;
}
.definition[text]:before {
content: "Definition (" attr(text) ") ";
}

