{% extends "layout.html" %}
{% set active_page = "index" %}


{% block title %}
	Index
{% endblock %}


{% block subtitle %}
	<br><br>
	What is this Page?
{% endblock %}







{% block words %}
	This is intended as a sample of some small coding projects I've embarked on recently.  
	It's not that I am fundamentally interested in building screensavers, 
	but they are fun and seemed flashier than purely mathematical code.
	Even though this site is tiny it's been a good challenge, mainly in getting the flask app to serve multiple streams of live inputs.  
	It has been fun learning about server things.  This site is running off what I think is a pretty standard recipe
	of nginx, supervisor and gunicorn.
	<br><br>
	My interest in computers has driven by Project Euler, a collection of maths/computer problems. 
	I've just started working on challenges on Hackerrank too, which seem to be generally a bit more CS and a bit less maths.  
	I'd like to learn more about functional programming, esp. Scala.
{% endblock %}
