{% extends "layout.html" %}
{% set active_page = "index" %}


{% block title %}
	Index
{% endblock %}


{% block subtitle %}
	<br><br>
	What is this Page?
{% endblock %}







{% block words %}
	This is intended as a sample of some small coding projects I've embarked on recently.  
	It's not that I am fundamentally interested in building screensavers, 
	but they are fun and more interesting to look at than mathematical code.
	Even though this site is tiny it's been a good challenge, mainly in getting the flask app to serve multiple streams of live inputs.  
	It's also been fun learning about server things.  This site is running off what I think is a pretty standard recipe
	of nginx, supervisor and gunicorn.  
	{# I know there are loads of blog posts of how to set up a minimal server, but here's mine anyway. #}
	<br><br>
	My interest in computers started with Project Euler, a collection of maths/computer problems. 
	My current project is learning more about functional programming, in Scala for now.
{% endblock %}
