{% extends "layout.html" %}
{% set active_page = "odes" %}

{% block title %}
ODE Visualiser
{% endblock %}

{% block visualisation %}
	<img src='{{ url_for("stream", title="odes") }}'>
{% endblock %}

{% block subtitle %}
	Plotting z' = Az
{% endblock %}

{% block source %}
	<a href="https://github.com/hlud6646/odes">https://github.com/hlud6646/odes</a>
{% endblock %}

{% block words %}
	I got a bad mark in second year ODE's class when we were asked to make static plots of 2D systems
	in mathematica. I handed in something like this thinking it was a sin not to make a moving image when 
	you have the opportunity to.  
	This is just an early sketch for a bigger and better demonstration where the user
	provides the matrix of ceofficients, the system is classified, eigenvectors drawn on etc.
	If you watch for long enough you'll see some of the different behavious this system can exhibit
	(sources/sinks/saddle nodes etc).
{% endblock %}