{% extends "layout.html" %}
{% set active_page = "three_body" %}

{% block title %}
Three-Body Demo
{% endblock %}

{% block visualisation %}
	<img src='{{ url_for("stream", title="-three_body") }}'>
{% endblock %}

{% block subtitle %}
	Three Body Demo with Random Initial Locations
{% endblock %}

{% block source %}
	<a href="https://github.com/hlud6646/three_body">https://github.com/hlud6646/three_body</a>
{% endblock %}

{% block words %}
	I found that the inverse of the distance between two masses, 
	rather than that distance squared made a more interesting image.
	So this is not stricly physical but if you watch for long enough
	you can see some nice sort-of-stable orbits appear.

	What I learnt here was custom data types in numpy, 
	which are arrays that have clean access like a dictionary:

	
	<script src="https://gist.github.com/hlud6646/dea0a34b0fe91eb281e954405c8425fb.js"></script>

	The rest is really just vector algebra:

	<script src="https://gist.github.com/hlud6646/512b422df0128ebe77e33b19629e8129.js"></script>

It would be fun to pass the chosen potential (here 1/d) as an argument to the _force function to see what 
weird/time dependent potentials look like in action.
{% endblock %}